<div id="top-header">
		<div class="container">
			<ul class="header-links pull-left">
				<li><a href="/"><i class="fas fa-home"></i> Ir al Inicio </a></li>
			</ul>
			<ul class="header-links pull-right">
					<li><a href="/tienda"><i class="fas fa-shopping-cart"></i></i>ir a tienda</a></li>
			</ul>
	</div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <form action="/registro" method="post">
            <label for="user">Nombre del Usuario:</label>
            <input type="text" name="user" class="form-control">
            <label for="pass">Contra:</label>
            <input type="password" name="pass" class="form-control">
            <label for="mail">Mail:</label>
            <input type="email" name="mail" class="form-control">
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
        {{message}}
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Sobre Mi</h3>
								<p>Soy Aaron Espindola, esta pagina es un proyecto para el trabajo de programacion, los objetos en esta pagina no estan en venta.</p>
								<ul class="footer-links">
									<li><a><i class="fa fa-map-marker"></i>calle falsa 123</a></li>
									<li><a><i class="fa fa-phone"></i>+54 11 9876-54321</a></li>
									<li><a><i class="fas fa-envelope"></i>aaronthxmas@gmail.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Algunas Categorias</h3>
								<ul class="footer-links">
									<li><a>Terror</a></li>
									<li><a>Romance</a></li>
									<li><a>Ficcion</a></li>
									<li><a>Sobre Natural</a></li>
									<li><a>Todos</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Informacion</h3>
								<ul class="footer-links">
									<li><a href="#">Sobre Mi</a></li>
									<li><a href="#">Contactame</a></li>
									<li><a href="#">Politica de privacidad</a></li>
									<li><a href="#">Terminos y condiciones</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Servicios</h3>
								<ul class="footer-links">
									<li><a href="#">Mi cuenta</a></li>
									<li><a href="#">Carrito</a></li>
									<li><a href="#">Lista de deseos</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a><i class="fab fa-cc-visa"></i></a></li>
								<li><a><i class="fa fa-credit-card"></i></a></li>
								<li><a><i class="fab fa-cc-paypal"></i></a></li>
								<li><a><i class="fab fa-cc-mastercard"></i></a></li>
								<li><a><i class="fab fa-cc-discover"></i></a></li>
								<li><a><i class="fab fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->