<div id="top-header">
		<div class="container">
			<ul class="header-links pull-left">
				<li><a href="/login"><i class="fas fa-sign-in-alt"></i> Ingresa</a></li>
				<li><a href="/registro"><i class="fas fa-user-plus"></i> Registrate! </a></li>
			</ul>
			<ul class="header-links pull-right">
					<li><a href="/login"><i class="fas fa-user"></i> Solo admins</a></li>
			</ul>
	</div>
</div>
<div class="banner">
        <h1>{{title}}</h1>
        <p>Un mar de libros</p>
        <a href="tienda" class="btn-blue">Ir a la tienda</a>
    </div>

    <center><h1>Ve estos libros</h1></center>
    <div class="container">
        <div class="targets">		
            <div class="target-white">
                <img src="/images/6a19ad00-8402-4660-b059-41a7815cf43f.jpeg" alt="Corazon en los dias grises portada">
                <h3>Mi Corazon en los dias grises</h3>
              
            </div>		
			
            <div class="target-white">
                <img src="/images/9bfa5943-95bf-45f5-8572-305b058cba2a.jpeg" alt="El principito Portada">
                <h3>El principito</h3>
               
            </div>
			
            <div class="target-white">
                <img src="/images/35db538b-775a-4e3d-b4ec-d2ae1ef05253.jpeg" alt="Por trece Razones Portada">
                <h3>Por trece Razones</h3>
                
            </div>
        </div>
    </div>


    <!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Sobre Mi</h3>
								<p>Soy Aaron Espindola, esta pagina es un proyecto para el trabajo de programacion, los objetos en esta pagina no estan en venta.</p>
								<ul class="footer-links">
									<li><a><i class="fa fa-map-marker"></i>calle falsa 123</a></li>
									<li><a><i class="fa fa-phone"></i>+54 11 9876-54321</a></li>
									<li><a><i class="fas fa-envelope"></i>aaronthxmas@gmail.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Algunas Categorias</h3>
								<ul class="footer-links">
									<li><a>Terror</a></li>
									<li><a>Romance</a></li>
									<li><a>Ficcion</a></li>
									<li><a>Sobre Natural</a></li>
									<li><a>Todos</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Informacion</h3>
								<ul class="footer-links">
									<li><a href="#">Sobre Mi</a></li>
									<li><a href="#">Contactame</a></li>
									<li><a href="#">Politica de privacidad</a></li>
									<li><a href="#">Terminos y condiciones</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Servicios</h3>
								<ul class="footer-links">
									<li><a href="/login">Mi cuenta</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a><i class="fab fa-cc-visa"></i></a></li>
								<li><a><i class="fa fa-credit-card"></i></a></li>
								<li><a><i class="fab fa-cc-paypal"></i></a></li>
								<li><a><i class="fab fa-cc-mastercard"></i></a></li>
								<li><a><i class="fab fa-cc-discover"></i></a></li>
								<li><a><i class="fab fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->
   
